node_modules/
dist/
.env
.DS_Store
.vscode/
coverage/
npm-debug.log
yarn-error.log
.idea/
*.log
*.swp
/build/
/tmp/
*.bak
*.old
*.tmp
*.cache
*.iml
*.class
*.jar
*.war
*.zip
*.tar.gz
*.exe
*.dll
*.pdb
*.out
*.obj
*.so
*.dylib
*.lib
*.log.*